*{
    padding: 0;
    margin: 10px;
  
    font-family: georgia;
}
header{
    color: maroon;
    text-transform: uppercase;
    text-align: center;
}
body{
    background-color: burlywood;
}

.div1{
    background-color: cornsilk;
    height: 30%;
    width: 50%;
    margin-left: 25%;
    display: inline-block;
    border-radius: 10px;
    padding: 30px;
}
.div1 p {
    width: 80%;
}
img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.me {
    display: inline-block;
    float: left;
}